.wrapper {
	display: flex;
	height: 100%;
	align-items: center;
}

#btn {
	padding: 10px;
	margin-left: 30px;
	border-radius: 4px;
	font-size: 15px;
	background: #20bf55;
	color: white;
	cursor: pointer;
}

.hide-me {
	display: none;
}